/* First Typeface */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("ttf"),
        url("./fonts/Montserrat-Bold.ttf") format("ttf");
}

/* Second Typeface */
@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf") format("ttf"),
        url("./fonts/Lato-Bold.ttf") format("ttf");
}

/* For all other properties not styled */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* For the headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;
    margin: 8px 0px;
}

.avatar:hover {
    shape-image-threshold: 0.5;
}

.centered-form {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 800px;
    height: 620px;
    background: transparent;
    border: 2px solid rgba(128, 0, 128, 0.5);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
    transition: transform 0.5s ease, height 0.2s ease;
    overflow: hidden;
    position: relative;
}

.card-img-signin {
    width: 110%;
    height: auto;
    background: url("./Purpool.jpg") no-repeat;
    background-color: white;
    background-size: contain;
    background-position: center;
}

.card-img-signup {
    width: 110%;
    height: auto;
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 10px;
    color: black;
}

.card-img-signup img {
    width: 40%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 100%;
}

.purple-text {
    color: purple;
    margin-bottom: 10px;
}

.btn {
    color: white;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.btn:hover {
    background: white;
    color: purple;
}

.signin-signup {
    font-size: 0.9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.signin-signup p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.signin-signup p a:hover {
    text-decoration: underline;
}

.forgot-password {
    font-size: 0.9em;
    color: white;
    font-weight: 500;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.forgot-password a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.card .form-box {
    width: 100%;
    padding: 34px;
    align-items: center;
}

/* For the heading in the form */
.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.form-box .signin {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 36px;
    overflow: hidden;
}

.form-box .signup {
    padding: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 36px;
    overflow: hidden;
}

/* For the input-box styling */
.input-box {
    position: relative;
    width: 100%;
    height: 46px;
    border-bottom: 2px solid white;
    margin: 20px 0;
}

.input-box label {
    position: absolute;
    top: 45%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

/* Animating lables of the input */
.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:not(:placeholder-shown)~label {
    top: -4px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    background: transparent;
    background-color: transparent;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    padding: 6px;
    font-size: 1.2em;
    color: white;
    line-height: 52px;
}


@media (max-width: 768px) {
    .card {
        width: 480px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 5px;
    }

    .card .card-img-signin {
        display: none;
    }

    .card .card-img-signup {
        display: none;
    }

    .form-box .signin {
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0px;
    }

    .form-box .signup {
        justify-content: center;
        align-items: center;
        padding: 15px;
        margin: 0px;
    }

    .input-box {
        width: calc(100% - 20%);
        padding: 8px;
    }

    .btn {
        width: calc(100% - 20%);
    }
}
