/* First Typeface */
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf") format("ttf"),
  url("fonts/Montserrat-Bold.ttf") format("ttf");
}

/* Second Typeface */
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf") format("ttf"),
  url("fonts/Lato-Bold.ttf") format("ttf");
}

/* For all other properties not styled */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* For the headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./background.jpg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  color: white;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
  height: 90vh;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.loading {
  padding: 50px;
  font-size: 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: purple;
}
